body {
	width: 960px;
	background-image: url("../images/bg.png");
	background-repeat: repeat;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}




/*Header Begins*/

header, .main, .sidebar, footer {
	position: absolute;
}

header, .main, .sidebar {
	background-color: #ffffff;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 32px;
	margin-top: 8px;
}

h2, h3 {
	color: #4aaaa5;
}

header {
	left: 0px;
	top: 0px;
	width: 960px;
	height: 50px;
	border-bottom: 2px;
	border-style: solid;	
	border-color: #cccccc;
}

.name {
	left: 10px;
	top: 0px;
	position: inherit;
	width: 250px;
	height: 50px;
	background-color: #4aaaa5; /*teal*/

}

.linkbar {
	left: 680px;
	top: 0px;
	position: inherit;
	width: 150px;
	height: 50px;
	display: -webkit-flex;
    display: flex;
    font-size: 13px;
}

.linkbar > a {
	width: 47px;
	height: 50px;
	margin-top: 18px;
	margin-right: 3px;
	text-decoration: none;
	text-align: center;
}

.linkbar > a:visited {
	color: #777777;
}

.linkbar > a:hover {
	color: #4aaaa5; /*teal*/;
}

.linkbar > p {
	margin-top: 17px;
	margin-right: 3px;
}

/*Header Ends*/





/*About Begins*/

.about {
	height: 245px;
}

/*About Ends*/





/*Portfolio Begins*/

.portfolio {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 303px;
    padding-bottom: 7.5px;
}

.box {
	width: 204px;
	height: 115px;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.box:hover {
	background-color: rgb(74, 170, 165);
}

.box:hover img {
	opacity: 0.5;
}

.box1, .box2, .box3 {
	margin-top: 0px;
	margin-bottom: 2.5px;
}

.box4, .box5, .box6 {
	margin-top: 2.5px;
	margin-bottom: 0px;
}

.box1, .box4 {
	margin-right: 4px;
	margin-left: 0px;
}

.box2, .box5 {
	margin-left: 4px;
	margin-right: 4px;
}

.box3, .box6 {
	margin-right: 0px;
	margin-left: 4px;
}

.box1 a, .box2 a, .box3 a, .box4 a, .box5 a, .box6 a {
	text-decoration: none;
	color: rgb(0,0,0);
}

/*label and hover effect for gallery items*/
/*label1*/
.box:hover .label1 {
	z-index: 0;
}
.label1 {
	width: 204px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	z-index: -1;
}
.label1 p {
	line-height: 23px;
}

/*label2*/
.box:hover .label2 {
	z-index: 0;
}
.label2 {
	width: 204px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	z-index: -1;
}
.label2 p {
	line-height: 23px;
}

/*label3*/
.box:hover .label3 {
	z-index: 0;
}
.label3 {
	width: 204px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	z-index: -1;
}
.label3 p {
	line-height: 23px;
}

/*label4*/
.box:hover .label4 {
	z-index: 0;
}
.label4 {
	width: 204px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	z-index: -1;
}
.label4 p {
	line-height: 23px;
}

/*label5*/
.box:hover .label5 {
	z-index: 0;
}
.label5 {
	width: 204px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	z-index: -1;
}
.label5 p {
	line-height: 23px;
}

/*label6*/
.box:hover .label6 {
	z-index: 0;
}
.label6 {
	width: 204px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	z-index: -1;
}
.label6 p {
	line-height: 23px;
}

/*Portfolio Ends*/






/*Contact Form Begins*/

.contact {
	width: 50%;
}

input[id=name], input[id=email], textarea[id=message] {
    width: 100%;
    margin: 8px 0px 14px 0px;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: arial;
}

input[id=name], input[id=email] {
	padding: 12px 20px;
}

textarea[id=message] {
	padding: 20px 20px;
	height: 200px;
	box-sizing: border-box;
	resize: none;
}

input[id=name]:focus, input[id=email]:focus, textarea[id=message]:focus  {
    border: 2px solid #4aaaa5; /*teal*/
 }

input[type=submit] {
	font-family: arial;
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,0,0);
	width: 65px;
    height: 35px;
	padding: 4px 2px 2px 2px;
	margin-bottom: 10px;
}

input[type=submit]:hover {
	color: #4aaaa5; /*teal*/
}

input[type=submit]:active {
	position: relative;
	top: 2px;
}

/*Contact Form Ends*/






/*Main Content Begins*/

.main {
	left: 10px;
	top: 75px;
	width: 628px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #dddddd;
	color: #777777;
}

.main > img {
	width: 129px;
	height: 172px;
	float: left;
	margin-right: 5px;
}

.main > h2 {
	font-size: 25px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.main > hr {
	width: 628px;
	border: 1px solid #777777;
	margin-top: 0px;
	margin-bottom: 10px;
}

.main > p {
	margin-bottom: 12px;
}

/*Main Content Ends*/






/*Sidebar Begins*/

.sidebar {
	left: 690px;
	top: 75px;
	width: 248px;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #dddddd;
}

.sidebar > h3 {
	font-size: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.sidebar > hr {
	width: 248px;
	border: 1px solid #777777;
	margin-bottom: 10px;
}

.socialicons {
	display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.socialicons img {
	width: 35px;
	height: 35px;
}

.linkedin-spacing {
	margin-left: 25px;
	margin-right: 25px;
}

.github-hl, .linkedin-hl, .stackoverflow-hl {
	position: absolute;
	bottom: 14px;
	z-index: -1;
}

.github-hl {
	left: 57px;
}

.linkedin-hl {
	left: 92px;
}

.stackoverflow-hl {
	left: 177px;
}

.github:hover .github-hl, .linkedin:hover .linkedin-hl, .stackoverflow:hover .stackoverflow-hl {
	z-index: 0;
}

.github > img:hover {
	z-index: -1;
}

/*Sidebar Ends*/






/*Footer Begins*/

footer {
	left: 0px;
	bottom: 0px;
	width: 960px;
	height: 30px;
	line-height: 30px;
	background-color: #666666;
	border-top: 6px;
	border-style: solid;	
	border-color: #4aaaa5; /*teal*/
	font-size: 10px;
	text-align: center;
	color: #efefef;
}

/*Footer Ends*/